<li class="row row-flex">
  <div class="col-xs-3 text-center"><%= image_tag(user.image, alt: user.image_alt) %></div>
  <div class="col-xs-7 name">
    <%= user.name %>
  </div>
  <div class="col-xs-2 delete">
    <%= link_to raw('<span aria-hidden="true">&times;</span></button>'), users_session_path(user.id), method: :delete,
                class: 'close', 'aria-label' => 'Delete', data: {confirm: "Are you sure?"} %>
  </div>
</li>