/* colors */

$body-bg: #282828;
$text-color: #cccccc;
$headings-color: #eeeeee;
$jumbotron-bg: #c4c5e2;
$jumbotron-color: #333333;

$popover-color: #333333;
$border-jumbotron: solid 1px #777777;
$border-users: solid 2px #333333;

/* bootstrap */

@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

div.content {
  border-top: $border-users;
}

.row-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &:before, &:after {
    content: none;
  }
}

.popover, h1.popover-title, h2.popover-title, h3.popover-title, h4.popover-title, h5.popover-title, h6.popover-title {
  color: $popover-color;
}

.glyphicon-spin {
  //-webkit-transform-origin: 50% 50%;
  //transform-origin: 50% 50%;
  //-ms-transform-origin: 50% 50%; /* IE 9 */
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* header */

header {
  position: relative;
  overflow: hidden;

  img {
    max-width: 100%;
    min-height: 200px;
    object-fit: cover;
    object-position: 100% 0;
    right: 0;
  }

  div.title {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;

    @media(min-width: 992px) {
      padding: 15px;
    }
  }
}

/* users */

div.instructions {
  padding: 15px 0;
}

ul.users {
  margin-bottom: 0;
}

ul.users li {
  //margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

  > div {
    * {
      max-height: 40px;
      max-width: 100%;
    }

    &.name {
      font-size: 16px;
    }

    &.delete span {
      font-size: 25px;
    }
  }

  div.user-num {

    div {
      width: 100%;
    }

    h3 {
      margin: 0;
    }
  }

  div.form-group {
    margin: 0;
  }
}

a#playlist {
  margin-bottom: 10px;
}

div.playlist-progress {
  overflow: hidden;
  max-height: 0;
  opacity: 0;

  -webkit-transition: max-height 0.2s ease-in, opacity 0.2s ease-in;
  -moz-transition: max-height 0.2s ease-in, opacity 0.2s ease-in;
  -ms-transition: max-height 0.2s ease-in, opacity 0.2s ease-in;
  -o-transition: max-height 0.2s ease-in, opacity 0.2s ease-in;
  transition: max-height 0.2s ease-in, opacity 0.2s ease-in;

  div.progress div.progress-bar {
    min-width: 2em;
  }
}

/* playlist */

div.play {
  margin-bottom: 25px;
  max-height: 50px;

  * {
    max-height: inherit;
  }
}

ul.tracks li {
  padding-top: 10px;
  padding-bottom: 10px;

  @media(min-width: 768px) {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .image {
    padding-right: 0;
    img {
      max-height: 50px;
    }
  }

  .title {
    font-weight: bold;
  }

  * {
    max-width: 100%;
  }
}

a#play {
  cursor: pointer;
}

div.create-playlist {
  overflow: hidden;
  max-height: 0;
  opacity: 0;

  -webkit-transition: max-height 0.2s ease-in, opacity 0.2s ease-in;
  -moz-transition: max-height 0.2s ease-in, opacity 0.2s ease-in;
  -ms-transition: max-height 0.2s ease-in, opacity 0.2s ease-in;
  -o-transition: max-height 0.2s ease-in, opacity 0.2s ease-in;
  transition: max-height 0.2s ease-in, opacity 0.2s ease-in;

  ul.users-playlist {
    img {
      max-height: 50px;
    }
  }
}