@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-bottom: 10px;
}

.row-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &:before, &.after {
    content: none;
  }
}

.container {
  max-width: 860px;
}

/* header */

/* users */

ul.users li {
  margin-bottom: 25px;

  div {
    margin-bottom: 15px;
    text-align: center;

    &:not(.user-num):not(.img) {
      @media (min-width: 768px) {
        text-align: inherit;
      }
    }

    * {
      max-height: 50px;
      max-width: 100%;
    }
  }

  div.user-num {
    min-height: 50px;

    div {
      width: 100%;
    }
  }

  div.form-group {
    margin: 0px;
  }

  .user-num h3 {
    margin: 0;
  }
}

/* tracks */

div.play {
  margin-bottom: 25px;
  max-height: 50px;

  * {
    max-height: inherit;
  }
}

ul.tracks li {
  margin-bottom: 25px;

  .image {
    padding-right: 0px;
  }

  .title {
    font-weight: bold;
  }

  * {
    max-width: 100%;
  }
}